*{
    margin: auto;
}

body
{
    width: 95%;
    background-color: #f4caab;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    border: solid 1px black;
}

header
{
    background-color: #e2928d;
    width: 100%;
    height: 148px;
    display: flex;
    flex-direction: column;
}

.div1
{
    background-color: #fff7f9;
    width: 20%;
    height: 96px;
    margin: auto;
    margin-left: 30px;
    border: solid 1px #fff7f9;

}
main
{
    width: 95%;
    border: solid 1px black;
}
.container
{
    background-color: #c9ddac;
    width: 100%;
    height: 50px;
    display: flex;
    gap: 20px;
}
#nav1
{
    background-color: #efffd7;
    width: 9%;
    height: 20px;
    padding: 10px;
}
#nav1:hover
{
    border: solid 1px #3d5f0a;
}

.container2
{
    background-color:#e2928d;
    width: 95%;
    height: 120px;
    display: flex;
    gap: 35px;
}
#aside1
{
    background-color: #fff7f9;
    width: 50%;
    height: 60px;
    margin-top: 18px;
    margin-bottom: 20px;
}

.div2
{
    background-color: #c9ddac;
    width: 95%;
    height: 430px;
}

#div3
{
    background-color:#fff7f9;
    width: 95%;
    height: 65px;
    margin: auto;
}

.section2
{
    background-color: #e2928d;
    width: 95%;
    height: 560px;
}
#container3
{
    background-color: #e2928d;
    width: 100%;
    height: 310px;
    display: flex;
    gap: 40px;
}
#div4
{
    background-color: #da6a62;
    width: 50%;
    height: 310px;
}
#P
{
    background-color: #c9ddac;
    width: 60%;
    height: 310px;
}

.carousel
{
    background-color: #e2928d;
    width: 100%;
    display: flex;
    margin-top: 3rem;
    padding-bottom: 115px;
    gap: 20px;
}
#div5
{
    background-color: #fff7f9;
    width: 13%;
    height: 50px;
    margin-top: 1rem;
    border: solid 1px #fff7f9;
}
.mover
{
    background-color:#e2928d;
    height: 40px;
    font-size: 2em;
    cursor: pointer;
    padding: 5px;
    margin-top: 1rem;
    gap: 5px;
}

.section3
{
    background-color: #c9ddac;
    height: 250px;
}
.container4
{
    width: 75%;
    margin-top: 4rem;
    display: flex;
}
#bar
{
    background-color: cornsilk;
    width: 80%;
    height: 40px;
    margin-left: 71px;
    border-bottom: solid 2px black;
}
button
{
    background-color: black;
    width: 20%;
    height: 42px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    margin-right: 131px;
}

.section4
{
    background-color:#e2928d;
    height: 400px;
}
.container5
{
    display: flex;
    gap: 30px;
    padding-left: 70px;
    padding-right: 70px;
}
article
{
    background-color:#c9ddac;
    width: 80%;
    height: 350px;
    margin-top: 1rem;
}
#header3
{
    background-color: #efffd7;
    width: 97%;
    height: 45px;
}
#div6
{
    background-color: #efffd7;
    width: 97%;
    height: 250px;
    margin-top: 1rem;
}
.article2
{
    background-color: #c9ddac;
    width: 40%;
    height: 350px;
}
#header4
{
    background-color: #efffd7;
    width: 95%;
    height: 45px;
}
.aside2
{
    background-color: #efffd7;
    width: 95%;
    height: 250px;
    margin-top: 1rem;
}

footer
{
    background-color: #c9ddac;
    height: 330px;
}
.div7
{
    display: flex;
    gap: 50px;
}
.article3
{
    background-color: #efffd7;
    width: 70%;
    height: 200px;
    margin-top: 3rem;
    margin-left: 81px;
}
.div8
{
    background-color: #efffd7;
    width: 26%;
    height: 200px;
    margin-top: 3rem;
    margin-right: 81px;
}

.footer1
{
    background-color: #e2928d;
    height: 180px;
}
.container6
{
    background-color: #e2928d;
    padding: 65px;
}
#nav2
{
    background-color: #fff7f9;
    width: 70%;
    height: 30px;
}