*
*{
    margin: auto;
}

body
{
    text-align: center;
}

header
{
    background-color: rgb(20, 197, 220);
    width: 100%;
    height: 110px;
    display: flex;
    flex-direction: column;
}
.header2
{
    background-color: rgb(0, 140, 255);
    width: 20%;
    height: 80px;
    margin: auto;
    margin-left: 30px;

}

section
{
    background-color: darkslateblue;
    width: 100%;
    height: 50px;
    margin:auto;
}
.container
{
    background-color: rgb(0, 140, 255);
    display: flex;
    justify-content: space-around;
    text-align: center;
}
#div2
{
    width: 10%;
    height: 20px; 
    padding: 10px;
    padding-bottom: 13px;
    flex: 1;
    margin: auto;
}
#dv
{
    background-color: darkgoldenrod;
    width: 10%;
    height: 20px; 
    padding: 10px;
    flex: 1;
    margin: auto;
    padding-bottom: 13px;
}

.container2
{
    background-color:blueviolet;
    width: 97.8%;
    height: 120px;
    display: flex;
    gap: 10px;
    /* justify-content: space-around; */
    /* text-align: center; */
}
#div3
{
    background-color: brown;
    width: 30%;
    height: 60px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.div4
{
    background-color: hotpink;
    width: 95%;
    height: 430px;
}
/* #dots 
{
    width: 5%;
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 0px;
    left: 85px;
    right: 70px;   
}
#dots span 
{
    background-color: black;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
}
#dots span:hover 
{
    background: #555;
} */

#section1
{
    background-color:peru;
    width: 95%;
    height: 60px;
    margin: auto;
}

.section2
{
    background-color: black;
    width: 95%;
    height: 560px;
    /* margin: auto; */
}
#container3
{
    background-color: goldenrod;
    width: 100%;
    height: 380px;
    display: flex;
    gap: 40px;
}
#div5
{
    background-color: teal;
    width: 50%;
    height: 310px; 
    margin-top: 1rem;
}
#P
{
    background-color: rosybrown;
    width: 60%;
    height: 310px;
    margin-top: 1rem;
}

.carousel
{
    background-color: mediumorchid;
    width: 100%;
    display: flex;
    padding-bottom: 115px;
    gap: 40px;
}
#div6
{
    background-color: rgb(0, 140, 255);
    width: 13%;
    height: 50px;
    margin-top: 1rem;
    border: solid 1px black;
}
.mover
{
    background-color:mediumorchid;
    height: 40px;
    font-size: 2em;
    cursor: pointer;
    margin-top: 1rem;
    gap: 10px;
    border: solid 1px black;
}

.section3
{
    background-color: darkturquoise;
    height: 280px;
    display: flex;
}
.search-container 
{
    width: 70%;
    display: flex;
    align-items: center;
}
#bar
{
    background-color: cornsilk;
    width: 50%;
    height: 40px;
    flex: 1;
    border-bottom: solid 2px black;
}
button
{
    background-color: black;
    width: 35%;
    height: 42px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
}
.section4
{
    background-color:saddlebrown;
    height: 400px;
}
.container4
{
    display: flex;
    gap: 5px;
}
article
{
    background-color:blueviolet;
    width: 70%;
    height: 300px;
    margin-top: 1rem;
}
#header3
{
    background-color: crimson;
    width: 95%;
    height: 20px;
}
#div7
{
    background-color: lightblue;
    width: 95%;
    height: 110px;
    margin-top: 1rem;
}
.article2
{
    background-color: blueviolet;
    width: 25%;
    height: 300px;
}
#header4
{
    background-color: green;
    width: 95%;
    height: 20px;
}
.nav1
{
    background-color: aqua;
    width: 90%;
    height: 200px;
    margin-top: 1rem;
}
footer
{
    background-color: darksalmon;
    height: 200px;
}
.div8
{
    display: flex;
    gap: 10px;
}
.article3
{
    background-color: azure;
    width: 70%;
    height: 150px;
}
.div9
{
    background-color: blue;
    width: 26%;
    height: 150px;
    margin-top: 1rem;
}

.footer1
{
    background-color: grey;
    height: 100px;
    display: flex;
    gap: 1px;
}
#div10
{
    background-color: indigo;
    width: 15%;
    height: 30px;
}